fastapi>=0.115.0
uvicorn>=0.30.0
sqlalchemy>=2.0.30
psycopg[binary]
pgvector>=0.2.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart>=0.0.9
pydantic>=2.7.1
pydantic-settings>=2.3.0
langchain>=0.3.0
langchain-community>=0.3.0
langchain-openai>=0.2.0
langchain-core>=0.3.0
sentence-transformers>=3.0.0
python-dotenv>=1.0.1
alembic>=1.13.1
PyPDF2==3.0.1
python-docx>=1.1.2
groq
numpy>=2.0
